@import '@/src/styles/global.scss';

.container {
  display: flex;
  flex-direction: column;
  width: 30rem;
  height: 100vh;
  border-right: 1px solid $color-gray-300;

  @include tablet {
    width: 16rem;
  }

  @include mobile {
    width: 6.7rem;
  }
}

.logoWrapper {
  padding: 2rem 0 0 2.4rem;

  @include tablet {
    padding: 2rem 0 0 2.6rem;
  }

  @include mobile {
    padding: 2rem 0 0 2.2rem;
  }
}

.logoText {
  @include mobile {
    display: none;
  }
}

.listWrapper {
  padding: 4rem 1.2rem 0;
}
