@import '@/src/styles/global.scss';

.container {
  width: 62rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-top: 3rem;
  margin-left: 3rem;
}

.buttonBox {
  margin-top: 4rem;
}
