@import '@/src/styles/global.scss';

.container {
  width: 102rem;
  display: flex;
  flex-direction: column;
  padding: 4rem;

  .invitedDashboard {
    margin-top: 3rem;
    height: 60rem;

    @include mobile {
      margin-top: 2.4rem;
      height: 83rem;
    }
  }

  @include tablet {
    width: 100%;
  }

  @include mobile {
    padding: 2.4rem;
  }
}
