@import '@/src/styles/global.scss';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  padding: 2rem;
  border: 0.1rem solid $color-gray-300;
  border-radius: 0.6rem;
  background-color: $color-white;

  @include tablet {
    flex-direction: row;
    justify-content: start;
  }

  @include mobile {
    flex-direction: column;
    justify-content: center;
  }
}

.imageWrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  @include tablet {
    width: 9.1rem;
    height: 5.4rem;
  }

  @include mobile {
    width: 100%;
    height: auto;
  }
}

.cardImage {
  width: auto;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.cardHeading {
  color: $color-black-200;
  @include font-style(1.6rem, 500, normal);
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @include tablet {
    flex-direction: row;
  }

  @include mobile {
    flex-direction: column;
  }
}

.cardBottom {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;

  @include tablet {
  }
}
