@import '@/src/styles/global.scss';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  padding: 2rem;
  border: 1px solid $color-gray-300;
  border-radius: 6px;
  background-color: $color-white;
}

.imageWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardHeading {
  color: $color-black-200;
  @include font-style(1.6rem, 500, normal);
}

.cardBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
