@import '../../../styles/global.scss';

.container {
  display: flex;
  flex-direction: column;
  width: 62rem;
  flex-shrink: 0;
  border-radius: 0.8rem;
  padding: 3.2rem 2.8rem 2.8rem;
  background-color: $color-white;

  @include tablet {
    width: 54.4rem;
  }

  @include mobile {
    width: 28.4rem;
    padding: 2.8rem 2rem 2rem;
  }
}

.title {
  color: $color-black-200;
  @include font-style(2.4rem, 700, normal);

  @include mobile {
    @include font-style(2rem, 700, normal);
  }
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 3.2rem;
  margin-bottom: 2.4rem;
  gap: 2rem;

  @include mobile {
    margin-top: 2.4rem;
    margin-bottom: 1.6rem;
    gap: 1.6rem;
  }
}

.button-container {
  display: flex;
  justify-content: flex-end;
}
