@use '../Input.module.scss' as Input;
@import '@/src/styles/global.scss';

.container {
  display: flex;
  justify-content: center;
  align-items: center;

  input {
    @include Input.input;
    width: 100%;
    text-align: left;
  }

  &.title {
    @include Input.input(45rem, 28.7rem);
  }

  &.newDash {
    @include Input.input(48.4rem, 28.7rem);
  }

  &::placeholder {
    color: $color-gray-400;
    @include font-style(1.6rem, 400, normal);
    @include mobile {
      @include font-style(1.4rem, 400, normal);
    }
  }
}

.focus {
  border: 0.1rem solid $color-violet-200 !important;
}

.small {
  width: 36.6rem;
  padding: 1.5rem;
  border-radius: 0.6rem;
  border: 0.1rem solid $color-gray-300;
  color: $color-black-200;
  margin-bottom: 1rem;
  @include font-style(1.6rem, 500, normal);

  @include tablet {
    width: 29rem;
  }

  @include mobile {
    width: 24.4rem;
    @include font-style(1.4rem, 500, normal);
    margin-bottom: 0.6rem;
  }
}

.large {
  width: 48.4rem;
  border-radius: 0.6rem;

  @include mobile {
    width: 28.7rem;
  }
}
