@use '../InvitedList.module.scss' as InvitedList;
@import '@/src/styles/global.scss';

.container {
  @include InvitedList.container;
}

.headerBox {
  display: flex;
  align-items: center;
  padding: 3.2rem 2.8rem 0;

  @include mobile {
    padding: 2.8rem 2rem 0;
  }
}

.title {
  @include InvitedList.title;

  @include mobile {
    @include font-style(2rem, 700, normal);
  }
}

.tag {
  @include font-style(1.6rem, 400, normal);
  color: $color-gray-400;
  padding-top: 2rem;
  padding-left: 2.8rem;
  padding-bottom: 2rem;

  @include mobile {
    @include font-style(1.4rem, 400, normal);
    padding-left: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

.borderButton {
  margin-left: 1.6rem;
}

.btnContents {
  display: flex;
  align-items: center;
  gap: 0.8rem;

  p {
    @include font-style(1.4rem, 400, normal);
  }
}
