@import '@/src/styles/global.scss';

.modal {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 3.2rem;

  @include mobile {
    overflow-x: hidden;
    overflow-y: scroll;
  }
}

.row {
  width: 100%;
  display: grid;
  gap: 3.2rem;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  align-items: center;
  @include mobile {
    overflow-x: hidden;
    overflow-y: scroll;
    grid-template-columns: repeat(1, 1fr);
  }

  .box {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }
}

.title {
  color: $color-black-200;
  @include font-style(2.4rem, 700, normal);
  @include mobile {
    @include font-style(2rem, 700, normal);
  }
}

.label {
  color: $color-black-200;
  display: flex;
  gap: 0.3rem;
  @include font-style(1.8rem, 500, normal);
  @include mobile {
    @include font-style(1.6rem, 500, normal);
  }

  &.required {
    color: $color-violet-200;
  }
}

.button {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  // padding-bottom: 2.8rem;

  position: relative;
  top: 10px;

  @include mobile {
    justify-content: center;
  }
}
