@import '@/src/styles/global.scss';

@mixin input {
  display: flex;
  width: 52rem;
  box-sizing: border-box;
  padding: 1.8rem 1.5rem;
  align-items: center;
  border-radius: 0.8rem;
  border: 0.1rem solid $color-gray-300;
  background-color: $color-white;

  &::placeholder {
    color: $color-gray-400;
  }

  &:focus {
    outline: none;
    border-color: $color-violet-200;
  }

  &.error {
    border-color: $color-red;
  }

  @include mobile {
    width: 35.1rem;
    padding: 1.5rem 1.6rem;
  }
}

.errorText {
  color: $color-red;

  @include font-style(1.4rem, 400, normal);
}
