@import '@/src/styles/global.scss';

.buttonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.9rem 0;
  border: 0.1rem solid $color-gray-300;
  border-radius: 0.6rem;
  background-color: $color-white;
  cursor: pointer;
}
