@import '@/src/styles/global.scss';

.container {
  display: flex;
  width: 100vw;
  min-height: 100vh;
  align-items: stretch;

  @include tablet {
    height: fit-content;
  }
}

.rightSideContainer {
  flex-grow: 1;
  height: 100%;
  background: $color-gray-100;
}

.children {
  height: 100%;
}
