@import '@/src/styles/global.scss';

.container {
  display: flex;
  gap: 1rem;
  align-items: center;

  @include mobile {
    gap: 0.8rem;
  }
}

.img {
  border-radius: 100%;

  @include mobile {
    width: 2.6rem;
    height: 2.6rem;
  }
}

.comment {
  padding-top: 0.8rem;

  @include mobile {
    padding-top: 0.6rem;
  }
}

.title {
  display: flex;
  gap: 0.8rem;
  margin-bottom: 0.6rem;

  @include mobile {
    gap: 0.6rem;
  }
}

.people {
  color: $color-black-200;
  @include font-style(1.4rem, 600, normal);

  @include mobile {
    @include font-style(1.2rem, 600, normal);
  }
}

.createdAt {
  color: $color-gray-400;
  @include font-style(1.2rem, 400, normal);

  @include mobile {
    @include font-style(1rem, 400, normal);
  }
}

.description {
  margin-bottom: 1.2rem;
  color: $color-black-200;
  @include font-style(1.4rem, 400, normal);

  @include mobile {
    margin-bottom: 0.8rem;
    @include font-style(1.2rem, 400, normal);
  }
}

.option {
  display: flex;
  gap: 1.2rem;

  @include mobile {
    gap: 0.8rem;
  }
}

.optionText {
  color: $color-gray-400;
  @include font-style(1.2rem, 400, normal);
  text-decoration-line: underline;

  @include mobile {
    @include font-style(1rem, 400, normal);
  }
}
