@import '@/src/styles/global.scss';

.container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.dashboardWrapper {
  width: 27.6rem;
  height: 4.5rem;

  @include tablet {
    width: 13.4rem;
    height: 4.3rem;
  }

  @include mobile {
    width: 4rem;
    height: 4rem;
  }
}
