@import '@/src/styles/global.scss';

.btn {
  width: 100%;
  height: 7rem;
  display: flex;
  background-color: $color-white;
  border-radius: 0.8rem;
  border: 0.1rem solid $color-gray-300;
  cursor: pointer;

  &.withoutDashboard {
    justify-content: center;
    align-items: center;
    gap: 1.2rem;

    div {
      @include font-style(1.6rem, 600, normal);
      color: $color-black-200;
    }
  }

  &.withDashboard {
    padding: 0 2rem 0 2rem;
    justify-content: space-between;
    align-items: center;

    .infoBox {
      display: flex;
    }

    div {
      @include font-style(1.6rem, 600, normal);
      display: flex;
      gap: 2rem;
    }
  }
}
