$color-black-400: #000000;
$color-black-300: #171717;
$color-black-200: #333236;
$color-black-100: #4b4b4b;

$color-gray-500: #787486;
$color-gray-400: #9fa6b2;
$color-gray-300: #d9d9d9;
$color-gray-200: #eeeeee;
$color-gray-100: #fafafa;

$color-white: #ffffff;

$color-violet-200: #5534da;
$color-violet-100: #f1effd;

$color-red: #d6173a;

$color-green: #7ac555;

$color-purple: #760dde;

$color-orange: #ffa500;

$color-blue: #76a6ea;

$color-pink: #e876ea;
