@import '@/src/styles/global.scss';

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-bottom: 0.1rem solid $color-gray-200;
  padding: 1.5rem 0 1.5rem;
  align-items: center;

  &.inEdit {
    display: flex;
    justify-content: space-between;
    padding-right: 2.8rem;
    div {
      &:first-child {
        padding-left: 2.8rem;
      }
    }
  }

  div {
    @include font-style(1.6rem, 400, normal);
    color: $color-black-200;

    &:first-child {
      padding-left: 4rem;
    }
  }

  &:last-child {
    border: none;
  }
}
