@use '../Input.module.scss' as Input;
@import '@/src/styles/global.scss';

.container {
  @include Input.input;
}

.pwContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: -1.6rem;
}

.eyeContainer {
  position: relative;
  top: -3.5rem;
  left: -2rem;

  width: 1.6rem;
  height: 1.6rem;
}
.eye {
  cursor: pointer;
}
