@use '.././Modal.module.scss' as Modal;
@import '@/src/styles/global.scss';

.container {
  @include Modal.modal(54rem, 27.6rem, 32.7rem, 27.6rem);
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 10.6rem;

  @include mobile {
    padding-top: 10rem;
  }
}

.content {
  color: $color-black-200;
  @include font-style(1.8rem, 500, normal);
  @include mobile {
    @include font-style(1.6rem, 500, normal);
  }
}

.button {
  position: absolute;
  bottom: 2.8rem;
  right: 2.8rem;
  @include mobile {
    left: 2rem;
  }
}
