@import '@/src/styles/global.scss';

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: $color-white;

  .title {
    @include font-style(2.4rem, 700, normal);
    padding-top: 3.2rem;
    padding-left: 2.8rem;
  }

  .input_box {
    display: flex;
    align-items: center;
    height: 4rem;
    margin: 1.5rem 2.8rem 1.5rem 2.8rem;
    border: 1px solid $color-gray-200;
    border-radius: 0.6rem;

    span {
      padding-left: 1.6rem;
    }

    input {
      flex-grow: 1;
      border: none;
      @include font-style(1.6rem, 400, normal);

      &::placeholder {
        color: $color-gray-400;
      }

      &:focus {
        outline: none;
      }
    }
  }

  .contents {
    display: flex;
    flex-direction: column;

    &.withInviteData {
      height: 40rem;

      .invite_info {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        div {
          @include font-style(1.6rem, 400, normal);
          color: $color-gray-400;

          &:first-child {
            padding-left: 2.8rem;
          }
        }
      }
    }

    &.withoutInviteData {
      justify-content: center;
      align-items: center;
      height: 40rem;

      span {
        @include font-style(1.8rem, 400, normal);
        color: $color-gray-400;
      }
    }
  }
}
