@import '@/src/styles/global.scss';

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: $color-white;
  border-radius: 0.8rem;
}

.title {
  @include font-style(2.4rem, 700, normal);
  padding-top: 3.2rem;
  padding-left: 2.8rem;
}

.input_box {
  display: flex;
  align-items: center;
  height: 4rem;
  margin: 1.5rem 2.8rem 1.5rem 2.8rem;
  border: 0.1rem solid $color-gray-200;
  border-radius: 0.6rem;
  background-color: $color-white;

  .magnifyingGlassImg {
    margin-left: 1.6rem;
    background-color: inherit;
  }

  input {
    flex-grow: 1;
    border: none;
    @include font-style(1.6rem, 400, normal);

    &::placeholder {
      color: $color-gray-400;
    }

    &:focus {
      outline: none;
    }
  }
}

.contents {
  display: flex;
  flex-direction: column;

  &.withInviteData {
    height: 40rem;
    overflow-y: scroll;
    overflow-x: hidden;

    .invite_info {
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      div {
        @include font-style(1.6rem, 400, normal);
        color: $color-gray-400;

        &:first-child {
          padding-left: 2.8rem;
        }
      }
    }
  }

  &.withoutInviteData {
    justify-content: center;
    align-items: center;
    height: 40rem;

    span {
      @include font-style(1.8rem, 400, normal);
      color: $color-gray-400;
    }
  }
}

.contents::-webkit-scrollbar {
  width: 1.5rem; /* 스크롤바 너비 */
}

.contents::-webkit-scrollbar-track {
  background: $color-white; /* 스크롤바 트랙 배경색 */
}

.contents::-webkit-scrollbar-thumb {
  background: $color-gray-200;
  border-radius: 0.6rem;
}

.contents::-webkit-scrollbar-thumb:hover {
  background: $color-gray-300;
}
