@use '../../Input.module.scss' as Input;
@import '@/src/styles/global.scss';

.container {
  display: flex;
  flex-direction: column;
  position: relative;

  .dropdown {
    padding: 1.3rem;
    width: 21.7rem;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    border-radius: 0.6rem;
    border: 0.1rem solid $color-gray-300;
    background: $color-white;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);

    position: absolute;
    top: 6rem;
    z-index: 20;
    @include mobile {
      width: 28.7rem;
      top: 5rem;
    }
  }
}

.inputContainer {
  @include Input.input(21.7rem, 28.7rem);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
}
.focus {
  border: 0.1rem solid $color-violet-200;
}
.input {
  @include font-style(1.6rem, 400, normal);
  @include mobile {
    @include font-style(1.4rem, 400, normal);
  }
}

.icon {
  cursor: pointer;
}

.member {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  cursor: pointer;
}

.name {
  @include font-style(1.6rem, 400, normal);
  @include mobile {
    @include font-style(1.4rem, 400, normal);
  }
}

.unselected {
  padding-left: 2.6rem;
}

.hidden {
  visibility: hidden;
}
