@import '@/src/styles/global.scss';

.input {
  display: flex;
  width: 52rem;
  padding: 1.8rem 1.5rem;
  justify-content: center;
  align-items: center;

  border-radius: 0.8rem;
  border: 0.1rem solid $color-gray-300;
  background-color: $color-white;

  &::placeholder {
    color: $color-gray-400;
  }

  &:focus {
    border-color: $color-violet-200;
  }
}

.pwContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: -1.6rem;
}

.eyeContainer {
  position: relative;
  top: -3.5rem;
  left: -2rem;

  width: 1.6rem;
  height: 1.6rem;
}
.eye {
  cursor: pointer;
}

.error {
  border: 0.1rem solid $color-red;
}

.errorText {
  color: $color-red;

  font-size: 1.4rem;
  font-weight: 400;
}
