@import '@/src/styles/global.scss';

.container {
  display: flex;
  gap: 1rem;
}

.selected {
  position: relative;
}

.check {
  position: absolute;
  top: 0.3rem;
  left: 0.3rem;

  @include mobile {
    width: 2.2rem;
    height: 2.2rem;
  }
}

.chipSize {
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  @include mobile {
    width: 2.8rem;
    height: 2.8rem;
  }
}
