@import '@/src/styles/global.scss';

.wrapper {
  display: flex;
  justify-content: space-between;
  padding-left: 1.2rem;
  padding-right: 1.2rem;

  @include mobile {
    justify-content: center;
    align-items: center;
  }
}

.title {
  color: $color-gray-500;
  @include font-style(1.2rem, 700, normal);

  @include mobile {
    display: none;
  }
}

.add-button {
  cursor: pointer;
}
