@import '@/src/styles/global.scss';

.container {
  display: flex;
  align-items: center;

  &.dropdown {
    gap: 0.6rem;

    span {
      @include font-style(1.6rem, 400, normal);
    }
  }

  &.dashboardHeader {
    gap: 1.2rem;

    span {
      @include font-style(1.6rem, 500, normal);

      @include mobile {
        display: none;
      }
    }
  }

  &.card {
    gap: 0.8rem;

    .img {
      @include mobile {
        width: 2.6rem;
        height: 2.6rem;
      }
    }

    span {
      @include font-style(1.4rem, 400, normal);

      @include mobile {
        @include font-style(1.2rem, 400, normal);
      }
    }
  }

  span {
    color: $color-black-200;
  }
}

.imgDiv {
  position: relative;
  border: 0.1rem solid $color-white;

  &.dropdown {
    width: 2.6rem;
    height: 2.6rem;
  }

  &.dashboardHeader {
    width: 3.8rem;
    height: 3.8rem;
  }

  &.card {
    width: 3.4rem;
    height: 3.4rem;
  }
}

.img {
  border-radius: 100%;
  cursor: pointer;
}

.popoverContainer {
  position: absolute;
  top: 6rem;
  right: 9.5rem;
  width: 12rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.6rem;
  border: 0.1rem solid $color-gray-300;
  background-color: $color-white;
  box-shadow: 0 0.4rem 2rem 0 rgba(0, 0, 0, 0.08);
  cursor: pointer;
}

.popoverOption {
  width: 100%;
  padding: 0.8rem 0;
  color: $color-black-200;
  border: none;
  border-radius: 0.4rem;
  @include font-style(1.6rem, 500, 2.4rem);
  text-align: center;
  background-color: $color-white;
  cursor: pointer;
  outline: none;

  &:hover {
    color: $color-violet-200;
    background-color: $color-violet-100;
  }
}
