@use '.././Modal.module.scss' as Modal;
@import '@/src/styles/global.scss';

.container {
  @include Modal.modal(54rem, 27.6rem, 32.7rem, 24.1rem);
  position: relative;
  display: flex;
  flex-direction: column;

  &.error {
    height: 30.1rem;
    @include mobile {
      height: 26.6rem;
    }
  }

  &.delete {
    height: 27.6rem;
  }
}

.title {
  margin-bottom: 3.2rem;
  color: $color-black-200;
  @include font-style(2.4rem, 700, normal);

  @include mobile {
    margin-bottom: 2.4rem;
    @include font-style(2rem, 700, normal);
  }
}

.inputTitle {
  margin-bottom: 1rem;
  color: $color-black-200;
  @include font-style(1.8rem, 500, normal);

  @include mobile {
    @include font-style(1.6rem, 500, normal);
  }
}

.button {
  position: absolute;
  bottom: 2.8rem;
  right: 2.8rem;
  @include mobile {
    left: 2rem;
  }
}

.deleteButton {
  position: absolute;
  bottom: 2.8rem;
  left: 2.8rem;
  color: $color-gray-400;
  @include font-style(1.4rem, 400, normal);
  text-decoration-line: underline;

  @include mobile {
    bottom: 8.6rem;
    left: 2rem;
  }
}
