@import '@/src/styles/global.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-black-400;
  padding-bottom: 16rem;

  @include mobile {
    padding-bottom: 12rem;
  }
}

.title {
  color: $color-white;
  @include font-style(2.8rem, 700, normal);

  @include mobile {
    @include font-style(2.2rem, 700, normal);
  }
}

.items {
  display: flex;
  margin-top: 3.6rem;
  gap: 3.3rem;

  @include tablet {
    flex-direction: column;
    gap: 4.8rem;
  }

  @include mobile {
    margin-top: 4.2rem;
    gap: 4rem;
  }
}

.img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 37.8rem;
  height: 26rem;
  border-radius: 0.8rem 0.8rem 0 0;
  background-color: $color-black-100;

  @include mobile {
    width: 34.3rem;
    height: 23.5rem;
  }
}

.img1 {
  @include mobile {
    width: 26rem;
    height: 10.7rem;
  }
}

.img2 {
  @include mobile {
    width: 26rem;
    height: 20rem;
  }
}

.img3 {
  @include mobile {
    width: 26rem;
    height: 16.9rem;
  }
}

.text {
  width: 37.8rem;
  padding: 3.3rem 0 3.3rem 3.2rem;
  border-radius: 0 0 0.8rem 0.8rem;
  background-color: $color-black-300;

  @include mobile {
    width: 34.3rem;
    padding: 2.7rem 0 2.7rem 2.5rem;
  }
}

.subtitle {
  margin-bottom: 1.8rem;
  color: $color-white;
  @include font-style(1.8rem, 700, normal);
}

.description {
  color: $color-white;
  @include font-style(1.6rem, 500, normal);
}
