@use '../Input.module.scss' as Input;
@import '@/src/styles/global.scss';

.container {
  @include Input.input(45rem, 28.7rem);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1rem;
}

.focus {
  border: 0.1rem solid $color-violet-200;
}

.black {
  color: $color-black-200;
}

.placeholder {
  color: $color-gray-400;
  @include font-style(1.4rem, 400, normal);
  z-index: 100;
}

.selectedDate {
  color: $color-black-200;
  @include font-style(1.4rem, 400, normal);
}

.icon {
  position: relative;
  top: -0.1rem;
  width: 2rem;
  height: 2rem;
}

.delete {
  cursor: pointer;
  z-index: 10;
}
